@import
	url('https://fonts.googleapis.com/css?family=Orbitron|Questrial');

button {
	margin-bottom: 6px;
	width: 48px;
	height: 48px;
	display: inline-block;
	border-radius: 24px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	background-color: #7d9bb7;
	border: 0;
	color: white;
	font-size: 14px;
	transition: box-shadow .5s background-color .5s color .5s;
}

button:hover {
	box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
	color: #7d9bb7;
	background-color: white;
}


input, select, textarea  {
	font-family: 'Questrial', sans-serif;
	font-family: 'Orbitron', sans-serif;
}
	

body {
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
	text-shadow: 4px 4px 4px #aaa;
}

footer {
	font-family: 'Questrial', cursive;
	font-size: 7px;
}

	

