<!doctype html>
<html>
	<head>
		<title>BlackJack!</title>
			<link rel="stylesheet"
			href="/css/styles.css">
	</head>
	<body>
		<div class = "table">
			<div class = "Dealer's Hand">
				<div>
				{{ #dealer.cards }}
				<span class = "card">
				{{ visualRepresentation }}
				{{ suit }}
				</span>
				{{ /dealer.cards }}
				</div>	
			</div>

	<hr>
			<div class = "Gambler's Hand">
				<div>
				{{ #gambler.cards }}
				<span class="card">
				{{ visualRepresentation }}  
				{{ suit }}
				</span>
				{{/gambler.cards}}	
			</div>
			{{ #roundState }}
				<div>
				Player bet: {{ currentBet }}
				</div>
				<div>
				<form method="post" action="/blackjack/hit">
            		<button>Hit</button>
            	</form>
            	<form method="post" action="/blackjack/stand">
            		<button>Stand</button>        
        		</form>
				</div>
			{{ /roundState }}
			{{ #betState }}
				<div>
				<form method="post" action="/blackjack/bet">
            		<input autofocus type="number" step="any" name="ante">    
            			<button>Bet</button>
			    </form>
				</div>
			{{ /betState }}
		<div>
			Player wallet: {{ gambler.playerMoney }}
		</div>
	</div>
</div>
</body>
</html>